<!DOCTYPE html>
<html>
<head>
  <title>Haikus</title>
</head>
<body>
  <h1>Haikus</h1>
  <ul>
    <% haikus.forEach(function(haiku) { %>
      <li><strong><%= haiku.title %></strong>: <%= haiku.content %></li>
    <% }); %>
  </ul>
</body>
</html>
